$letra-pagina: "Lucida Console", "Courier New", monospace;

@mixin sizes($width, $height) {
	height: $height;
	width: $width;
}

@mixin sizes2($width, $height) {
	height: $height;
	min-width: $width;
}

* {
	box-sizing: border-box;
}
header {
	@include sizes(100%, 20vh);
	display: flex;
	justify-content: space-between;
}

.logoPresentacion {
	margin-left: 5px;
	img {
		@include sizes(100px, 100px);
	}
}

.menu {
	width: 100%;
}

nav {
	border-top: 1px solid #fff;
}

main {
	h2 {
		font-family: $letra-pagina;
		color: #e8e8e8;
	}
	p {
		font-family: $letra-pagina;
		color: #e8e8e8;
	}
	#contact.container {
		align-items: center;
	}
	h3 {
		font-family: $letra-pagina;
		color: #e8e8e8;
		font-size: 2em;
	}
}

.cuerpo-principal {
	@include sizes2(100%, 100vh);
	background-image: url("../imagenes/fondo_index.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

form {
	input,
	textarea {
		border: none !important;
		background: transparent !important;
		border-bottom: 2px solid #fff !important;
	}
	.form-control {
		color: #fff;
	}
}

input.submit-btn {
	margin-top: 20px;
	width: 100px;
	border: 2px solid #fff !important;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	transition: 0.25s ease-in-out 0s;
}
